1. Write a query to retrieve all data from a table named employees.

SELECT * from sql_practice_db;

2. Fetch the name, age, and department columns from the employees table.

SELECT (name) from sql_practice_db;

SELECT (age) from sql_practice_db;

3. Retrieve all employees whose age is greater than 30.

SELECT * from sql_practice_db where age >30;

4. Find employees who work in the IT department and have a salary greater than 50000.

select * from sql_practice_db where (department='IT') and (salary >50000);

5. Get all employees who work in the HR department or are less than 25 years old.

select * from sql_practice_db where (department='HR') or (age < 25);

6. Retrieve all employees who do not work in the Finance department.

select * from sql_pratice_db where not department='Finance';

7. Find employees whose names start with the letter 'A'.

 SELECT * FROM employeesWHERE name LIKE 'A%';

8. Retrieve employees whose email addresses contain the domain gmail.com.

 SELECT * FROM employees WHERE email LIKE '%@gmail.com';

9. Fetch the names and salaries of employees sorted by salary in descending order.

SELECT * FROM sql_practice_db 
ORDER BY salary DESC;

10. Retrieve the top 5 highest-paid employees.

SELECT * FROM sql_practice_db 
ORDER BY salary DESC limit 5;

11. Count the total number of employees in the employees table.

SELECT count(employee_id) FROM sql_practice_db;

12. Write a query to find the minimum and maximum salaries in the employees table.

SELECT MIN(salary) AS Min_Salary, MAX(salary) AS Max_Salary
FROM ql_practice_db;

13. Calculate the average salary of employees in each department.

SELECT department, AVG(salary) AS average_salary
FROM employees
GROUP BY department;

14. Find all employees who work in the IT department and have a salary greater than 
60000 or have been with the company for more than 5 years.

SELECT * FROM sql_practice_db where department='IT' and salary >60000 or Year_At_company >5;


15. Increase the salary of all employees in the Sales department by 10%.

select * from sql_practice_db; SET salary = salary * 1.10 WHERE department = 'Sales';

16. Update the department of an employee with employee_id = 101 to Marketing.

UPDATE sql_practice_db SET department = 'Marketing' WHERE employee_id = 101;
`

17. Find all users who havenâ€™t logged in for more than 30 days from a user_logs table.

 SELECT user_id, 301 WHERE last_login < 2024-12-30 - INTERVAL 30 DAY;

18. Write a query to fetch the top 3 products with the highest sales from a sales table.

SELECT product_id, product_name, MAX(total_sales) AS max_sales FROM sales GROUP BY product_id, product_name ORDER BY max_sales DESC LIMIT 3;

19. Count the number of customers from each region in the customers table.

select * from customer_s where region ='North';
select * from customer_s where region ='West';
select * from customer_s where region ='East';
select * from customer_s where region ='South';

20. Retrieve all orders from the orders table where the shipped_date is later than the 
delivery_date.

select * from orders where shipped_date > delivery_date;

21. Sort by Multiple Columns:
Retrieve employees sorted by department in ascending order and salary in descending 
order.

SELECT * FROM employeesORDER BY department ASC, salary DESC;

22. Fetch the highest-paid employee from each department.

SELECT emp_id, name, department, salary FROM employees WHERE salary = ( SELECT MAX(salary) FROM employees WHERE department = 'HR');

SELECT emp_id, name, department, salary FROM employees WHERE salary = ( SELECT MAX(salary) FROM employees WHERE department = 'Finance');

SELECT emp_id, name, department, salary FROM employees WHERE salary = ( SELECT MAX(salary) FROM employees WHERE department = 'Marketing');

SELECT emp_id, name, department, salary FROM employees WHERE salary = ( SELECT MAX(salary) FROM employees WHERE department = 'IT');

SELECT emp_id, name, department, salary FROM employees WHERE salary = ( SELECT MAX(salary) FROM employees WHERE department = 'Sales');

23. Find all employees whose email addresses are NULL.

select * from employees where email = 'NULL' ;

24. Update the salary to 30000 for all employees whose current salary is NULL.

UPDATE employees SET salary = 30000 WHERE salary IS NULL;

25. Count how many users are active and inactive from the user_activity table.

select activity_status,count(*)user_count from user_activity group by activity_status;

26. Using the orders table, calculate the total number of orders placed in the first quarter -- (January to March) of 2023 and 2024. Compare the results to analyze the growth or -- decline in order activity.

SELECT YEAR(order_date) AS year, COUNT(order_id) AS total_orders FROM orders WHERE (YEAR(order_date) = 2023 OR YEAR(order_date) = 2024) AND MONTH(order_date) BETWEEN 1 AND 3 GROUP BY YEAR(order_date) ORDER BY YEAR(order_date);

27. Identify the customer who 1has made the most purchases.

SELECT cust_id, COUNT(*) AS purchase_count FROM customers GROUP BY cust_id ORDER BY purchase_count DESC LIMIT 1;

 28. Find the product that has been purchased most frequently.

SELECT product_id, COUNT(*) AS purchase_count FROM orders GROUP BY product_id ORDER BY purchase_count DESC LIMIT 1;

SELECT (department) from sql_practice_db;